*, ::after, ::before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    background-color: black;
    color: aliceblue;
}

@media (min-width: 800px) {
    .container {
        width: 100%;
        height: 100vh;
        background-image: url(./Ressources/img/Fond2.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 45px;
        padding-left: 8%;
        padding-right: 8%;
    }
    
    .logo {
        font-size: 35px;
        letter-spacing: 1px;
        cursor: pointer;
    }
    
    
    span {
        color: aqua;
    }
    
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 10px 25px;
    }
    
    nav ul li a {
        color: aliceblue;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
    }
    
    nav ul li a:hover {
        color: aqua;
        transition: .4s;
    }
    
    
    .button1 {
        background-color: aqua;
        text-decoration: none;
        color: rgb(20, 34, 46);
        border: solid 2px transparent;
        font-weight: bold;
        padding: 10px 25px;
        border-radius: 30px;
    }
    
    
    .content {
        line-height: 40px;
        font-size: 20px;
        width: 80%;
        margin: auto;
        color: aliceblue;
        margin-top: 250px;
        font-weight: bold;
    }
    
    .content2 {
        line-height: 40px;
        font-size: 20px;
        width: 80%;
        margin: auto;
        color: aliceblue;
        margin-top: 50px;
        font-weight: bold;
    }
    
    
    hr {
        margin-top: 30px;
    }
    
    section center h1 {
        margin-top: 80px;
    }
    
    .card {
        height: 900px;
        width: 60%;
        padding: 20px ;
        background: #191919;
        border-radius: 20px;
        margin: 80px auto;
        overflow: hidden;
        text-align: center;
    }
    
    .card img {
        width: 90%;
        height: 80%;
        border-radius: 20px;
    }
    
    .first {
        margin-top: 15px;
        font-size: 25px;
    }
    
    .second {
        font-size: 25px;
        margin: 10px auto;
    }
    
    .lien {
        width: 25%;
        height: 50px;
        padding: 20px;
        border-radius: 15px;
        background-color: aqua;
        margin-top: 30px;
    }
    
    .lien a {
        color: rgb(255, 0, 0);
        text-decoration: none;
        font-size: 30px;
        position: relative;
        bottom: 10px;
    }
    
    
    footer {
        position: relative;
        width: 100%;
        height: 400px;
        background-color: #101010;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    footer p:nth-child(1) {
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    
    footer p:nth-child(2) {
        font-size: 17px;
        width: 500px;
        text-align: center;
        line-height: 20px;
    }
    
    .social {
        display: flex;
    }
    
    .social a {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aqua;
        border-radius: 50%;
        margin: 22px 10px;
        color: rgb(5, 31, 54);
        text-decoration: none;
        font-size: 20px;
    }
    
    .end {
        position: absolute;
        bottom: 35px;
        font-size: 14px;
    }
    
    .color {
        color: rgb(5, 31, 54);
    }
}

@media (max-width: 790px) {

    .container {
        width: 100%;
        height: 100vh;
        background-image: url(./Ressources/img/Fond2.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        padding: 10px;
    }

    .container ul {
        display: flex;
    }

    nav ul li {
        list-style-type: none;
        margin: 30px 10px 30px 0px;
    }

    .logo {
        font-size: 35px;
        letter-spacing: 1px;
        cursor: pointer;
    }
    
    
    span {
        color: aqua;
    }

    nav ul li a {
        color: aliceblue;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        text-transform: capitalize;
    }

    .button1 {
        background-color: aqua;
        text-decoration: none;
        color: rgb(20, 34, 46);
        border: solid 2px transparent;
        font-weight: bold;
        padding: 10px 25px;
        border-radius: 30px;
        margin-top: 25%;
    }

    .content {
        line-height: 25px;
        font-size: 12px;
        width: 80%;
        margin: 30px auto;
        color: aliceblue;
        font-weight: bold;
    }
    
    .content2 {
        line-height: 20px;
        font-size: 12px;
        width: 80%;
        margin: 20px auto;
        color: aliceblue;
        font-weight: bold;
    }
    
    
    hr {
        margin-top: 30px;
    }
    
    section center h1 {
        position: relative;
        right: 25px;
        top: 20px;
        font-size: 15px;
    }

    
    .card {
        height: 500px;
        width: 350px;
        padding: 0px ;
        background: #191919;
        border-radius: 20px;
        margin: 20px auto;
        overflow: hidden;
        text-align: center;
    }
    
    .card img {
        width: 90%;
        height: 70%;
        border-radius: 20px;
    }
    
    .first {
        margin-top: 15px;
        font-size: 15px;
    }
    
    .second {
        font-size: 15px;
        margin: 10px auto;
    }
    
    .lien {
        width: 30%;
        height: 30px;
        border-radius: 8px;
        background-color: aqua;
        margin-top: 30px;
    }
    
    .lien a {
        color: rgb(255, 0, 0);
        text-decoration: none;
        font-size: 20px;
    }

    .color {
        color: rgb(5, 31, 54);
    }

    footer {
        position: relative;
        width: 100%;
        height: 400px;
        background-color: #101010;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    footer p:nth-child(1) {
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    
    footer p:nth-child(2) {
        font-size: 17px;
        margin: 20px;
        text-align: center;
        line-height: 20px;
    }
    
    .social {
        display: flex;
    }
    
    .social a {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aqua;
        border-radius: 50%;
        margin: 22px 10px;
        color: rgb(5, 31, 54);
        text-decoration: none;
        font-size: 20px;
    }
    
    .end {
        position: absolute;
        bottom: 35px;
        font-size: 14px;
    }

}