*, ::after, ::before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    background-color: black;
    color: aliceblue;
}

@media (min-width: 800px) {

    .container {
        width: 100%;
        height: 100vh;
        background-image: url(./Ressources/img/fond3.jpg);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 45px;
        padding-left: 8%;
        padding-right: 8%;
    }
    
    .logo {
        font-size: 35px;
        letter-spacing: 1px;
        cursor: pointer;
    }
    
    
    span {
        color: aqua;
    }
    
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 10px 25px;
    }
    
    nav ul li a {
        color: aliceblue;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
    }
    
    nav ul li a:hover {
        color: aqua;
        transition: .4s;
    }
    
    
    .button1 {
        background-color: aqua;
        text-decoration: none;
        color: rgb(20, 34, 46);
        border: solid 2px transparent;
        font-weight: bold;
        padding: 10px 25px;
        border-radius: 30px;
    }
    
    .content {
        display: flex;
        justify-content: space-between;
        margin: 100px auto;
        width: 100%;
        padding: 50px;
    }
    
    .newsletter form {
        width: 380px;
        max-width: 100%;
        position: relative;
    }
    
    .newsletter form input[type="email"] {
        display: inline-block;
        width: 100%;
        padding: 14px 130px 14px 15px;
        border: solid 2px aqua;
        outline: none;
        border-radius: 30px;
    }
    
    .newsletter form input[type="submit"] {
        position: absolute;
        display: inline-block;
        outline: none;
        border: none;
        padding: 10px 30px;
        border-radius: 30px;
        background-color: aqua;
        color: rgb(20, 34, 46);
        box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
        top: 35px;
        right: 6px;
        cursor: pointer;
    }
    
    .newsletter, .social {
        padding: 20px;
        width: 500px;
    }
    
    .content h2 {
        color: aqua;
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    .newsletter p {
        margin: 20px 0px;
        font-size: 20px;
    }
    
    .newsletter a {
        text-decoration: none;
        font-size: 25px;
        color: aqua;
        text-align: center;
        vertical-align: middle;
    }
    
    .newsletter form label {
        padding-left: 20px;
        font-size: 24px;
    }
    
    .social a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        position: relative;
        bottom: 15px;
        font-size: 45px;
        display: inline-block;
        margin-right: 25px;
    }
    
    .plateforme {
        margin-top: 15px;
    }

}


@media (max-width: 790px) {

    .container {
        width: 100%;
        height: 100vh;
        background-image: url(./Ressources/img/fond3.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        padding: 10px;
    }

    .container ul {
        display: flex;
    }

    nav ul li {
        list-style-type: none;
        margin: 30px 10px 30px 0px;
    }

    .logo {
        font-size: 35px;
        letter-spacing: 1px;
        cursor: pointer;
    }
    
    
    span {
        color: aqua;
    }

    nav ul li a {
        color: aliceblue;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        text-transform: capitalize;
    }

    .button1 {
        background-color: aqua;
        text-decoration: none;
        color: rgb(20, 34, 46);
        border: solid 2px transparent;
        font-weight: bold;
        padding: 10px 25px;
        border-radius: 30px;
        margin-top: 25%;
    }

    .content {
        display: block;
        margin: 10px 0px;
        width: 100%;
        padding: 0px;
    }
    
    .newsletter form {
        width: 100%;
    }
    
    .newsletter form input[type="email"] {
        display: inline-block;
        width: 300px;
        padding: 10px;
        border: solid 2px aqua;
        outline: none;
        border-radius: 20px;
    }
    
    .newsletter form input[type="submit"] {
        outline: none;
        border: none;
        padding: 10px 30px;
        border-radius: 30px;
        background-color: aqua;
        color: rgb(20, 34, 46);
        box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
        margin-top: 6px;
        margin-left: 200px;
    }
    
    .newsletter, .social {
        padding: 20px;
        width: 300px;
    }
    
    .content h2 {
        color: aqua;
        font-size: 15px;
        margin-bottom: 20px;
    }
    
    .newsletter p {
        margin: 20px 0px;
        font-size: 10px;
    }
    
    .newsletter a {
        text-decoration: none;
        font-size: 15px;
        color: aqua;
        text-align: center;
        vertical-align: middle;
    }
    
    .newsletter form label {
        padding-left: 20px;
        font-size: 15px;
    }
    
    .social a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 45px;
        display: inline-block;
        margin-right: 15px;
    }
    
    .plateforme {
        margin-top: 15px;
    }

}

