*, ::after, ::before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    background-color: black;
    color: aliceblue;
}

@media (min-width: 800px){
    .container {
        width: 100%;
        height: 100vh;
        background-image: url(./Ressources/img/fond1.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 45px;
        padding-left: 8%;
        padding-right: 8%;
    }
    
    .logo {
        font-size: 35px;
        letter-spacing: 1px;
        cursor: pointer;
    }
    
    
    span {
        color: aqua;
    }
    
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 10px 25px;
    }
    
    nav ul li a {
        color: aliceblue;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
    }
    
    nav ul li a:hover {
        color: aqua;
        transition: .4s;
    }
    
    
    .button1 {
        background-color: aqua;
        text-decoration: none;
        color: rgb(20, 34, 46);
        border: solid 2px transparent;
        font-weight: bold;
        padding: 10px 25px;
        border-radius: 30px;
    }
    
    .content {
        position: relative;
        top: 50%;
        left: 8%;
        transform: translateY(-50%);
    }
    
    h1 {
        margin: 20px 0px 20px;
        font-size: 40px;
    }
    
    h3 {
        font-size: 25px;
        margin-bottom: 50px;
    }
    
    h4 {
        letter-spacing: 2px;
        font-size: 20px;
    }
    
    .newsletter form {
        width: 380px;
        max-width: 100%;
        position: relative;
    }
    
    .newsletter form input:first-child {
        display: inline-block;
        width: 100%;
        padding: 14px 130px 14px 15px;
        border: solid 2px aqua;
        outline: none;
        border-radius: 30px;
    }
    
    .newsletter form input:last-child {
        position: absolute;
        display: inline-block;
        outline: none;
        border: none;
        padding: 10px 30px;
        border-radius: 30px;
        background-color: aqua;
        color: rgb(20, 34, 46);
        box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
        top: 6px;
        right: 6px;
    }
    
    .pousse {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
        color: aqua;
    }
    
    .about {
        width: 100%;
        padding: 100px 0px;
    }
    
    .about img {
        height: auto;
        width: 430px;
    }
    
    .about-text {
        width: 550px;
    }
    
    .main {
        width: 1130px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .about-text h2 {
        font-size: 60px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    
    .about-text h5 {
        letter-spacing: 2px;
        font-size: 22px;
        margin-bottom: 18px;
        text-transform: capitalize;
    }
    
    .about-text p {
        color: aqua;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 18px;
        margin-bottom: 30px;
    }
    
    .about-link {
        background-color: aqua;
        color: rgb(20, 34, 46);
        text-decoration: none;
        border: solid 2px transparent;
        font-weight: bold;
        padding: 13px 30px;
        border-radius: 30px;
        transition: .4s;
    }
    
    .about-text a:hover {
        background-color: transparent;
        border: solid 2px aqua;
        cursor: pointer;
        color: aliceblue;
    }
    
    
    .service {
        background-color: #101010;
        width: 100%;
        padding: 100px 0px;
    }
    
    .title h2 {
        font-size: 75px;
        width: 1130px;
        margin: 30px auto;
        text-align: center;
    }
    
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
    }
    
    .card {
        height: 365px;
        width: 335px;
        padding: 20px 35px;
        background: #191919;
        border-radius: 20px;
        margin: 15px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }
    
    .card .logotype {
        font-size: 50px;
        display: block;
        margin: 25px 0px;
        color: aqua;
    }
    
    h5 {
        font-size: 23px;
        margin-bottom: 15px;
    }
    
    .pra p {
        color: aquamarine;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 25px;
    }
    
    .card .button {
        background-color: aqua;
        color: rgb(20, 34, 46);
        text-decoration: none;
        border: solid 2px transparent;
        font-weight: bold;
        padding: 9px 22px;
        border-radius: 30px;
        transition: .4s;
    }
    
    .card .button:hover {
        background-color: transparent;
        border: solid 2px aqua;
        cursor: pointer;
        color: aliceblue;
    }
    
    .contact-me {
        width: 100%;
        height: 290px;
        background-color: #191919;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .contact-me p {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    
    .contact-me .button-two {
        background-color: aqua;
        color: rgb(20, 34, 46);
        text-decoration: none;
        border: solid 2px transparent;
        font-weight: bold;
        padding: 9px 22px;
        border-radius: 30px;
        transition: .4s;
    }
    
    .contact-me .button-two:hover {
        background-color: transparent;
        border: solid 2px aqua;
        cursor: pointer;
        color: aliceblue;
    }
    
    footer {
        position: relative;
        width: 100%;
        height: 400px;
        background-color: #101010;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    footer p:nth-child(1) {
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    
    footer p:nth-child(2) {
        font-size: 17px;
        width: 500px;
        text-align: center;
        line-height: 20px;
    }
    
    .social {
        display: flex;
    }
    
    .social a {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aqua;
        border-radius: 50%;
        margin: 22px 10px;
        color: rgb(5, 31, 54);
        text-decoration: none;
        font-size: 20px;
    }
    
    .end {
        position: absolute;
        bottom: 35px;
        font-size: 14px;
    }
}

@media (max-width: 790px) {
	.container {
        width: 100%;
        height: 100vh;
        background-image: url(./Ressources/img/fond1.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        padding: 10px;
    }

    .container ul {
        display: flex;
    }

    nav ul li {
        list-style-type: none;
        margin: 30px 10px 30px 0px;
    }

    .logo {
        font-size: 35px;
        letter-spacing: 1px;
        cursor: pointer;
    }
    
    
    span {
        color: aqua;
    }

    nav ul li a {
        color: aliceblue;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        text-transform: capitalize;
    }

    .button1 {
        background-color: aqua;
        text-decoration: none;
        color: rgb(20, 34, 46);
        border: solid 2px transparent;
        font-weight: bold;
        padding: 10px 25px;
        border-radius: 30px;
        margin-top: 25%;
    }

    .content {
        margin-top: 20%;
    }

    h1 {
        margin: 20px 0px 20px;
        font-size: 30px;
    }
    
    h3 {
        font-size: 25px;
        margin-bottom: 50px;
    }
    
    h4 {
        letter-spacing: 2px;
        font-size: 18px;
    }

    .newsletter form {
        width: 380px;
        max-width: 100%;
        position: relative;
    }
    
    .newsletter form input:first-child {
        display: inline-block;
        width: 70%;
        padding: 10px;
        border: solid 2px aqua;
        outline: none;
        border-radius: 30px;
    }
    
    .newsletter form input:last-child {
        position: absolute;
        outline: none;
        border: none;
        padding: 10px 20px;
        border-radius: 30px;
        background-color: aqua;
        color: rgb(20, 34, 46);
        box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
        top: 6px;
        right: 5px;
    }
    
    .pousse {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
        color: aqua;
    }

    .about {
        width: 100%;
        padding: 50px 20px;
    }
    
    .about img {
        height: 300px;
        width: 80%;
    }
    
    .about-text {
        width: 100%;
    }
    
    
    .about-link {
        background-color: aqua;
        color: rgb(20, 34, 46);
        text-decoration: none;
        border: solid 2px transparent;
        font-weight: bold;
        padding: 13px 30px;
        border-radius: 30px;
        position: relative;
        top: 30px;
    }

    .service {
        background-color: #101010;
        width: 100%;
        padding: 10px;
        margin-top: 20px;
    }
    
    .title h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .box {
        display: block;
        min-height: 400px;
    }
    
    .card {
        height: 365px;
        width: 100%;
        margin: auto;
        padding: 20px;
        background: #191919;
        border-radius: 20px;
        position: relative;
        margin-top: 25px;
        overflow: hidden;
        text-align: center;
    }
    
    .card .logotype {
        font-size: 45px;
        display: block;
        margin: 25px 0px;
        color: aqua;
    }
    
    h5 {
        font-size: 23px;
        margin-bottom: 15px;
    }
    
    .pra p {
        color: aquamarine;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 25px;
    }
    
    .card .button {
        background-color: aqua;
        color: rgb(20, 34, 46);
        text-decoration: none;
        border: solid 2px transparent;
        font-weight: bold;
        padding: 9px 22px;
        border-radius: 30px;
        transition: .4s;
    }
    
    .contact-me {
        width: 100%;
        height: 290px;
        background-color: #191919;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .contact-me p {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    
    .contact-me .button-two {
        background-color: aqua;
        color: rgb(20, 34, 46);
        text-decoration: none;
        border: solid 2px transparent;
        font-weight: bold;
        padding: 9px 22px;
        border-radius: 30px;
        transition: .4s;
    }

    footer {
        position: relative;
        width: 100%;
        height: 400px;
        background-color: #101010;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    footer p:nth-child(1) {
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    
    footer p:nth-child(2) {
        font-size: 17px;
        margin: 20px;
        text-align: center;
        line-height: 20px;
    }
    
    .social {
        display: flex;
    }
    
    .social a {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aqua;
        border-radius: 50%;
        margin: 22px 10px;
        color: rgb(5, 31, 54);
        text-decoration: none;
        font-size: 20px;
    }
    
    .end {
        position: absolute;
        bottom: 35px;
        font-size: 14px;
    }
    
}